*{
    margin: 0;
    padding: 0;
    position: relative;
}
.container{
    width: 95%;
    margin: auto;
}
.scrowbar{
    
    background-color: #4170E8;
    text-transform: uppercase;
    height: 20px auto;
    justify-items: center;
    text-align: center;
    padding: 10px 0;
}
marquee span{ padding: 0 30px;
}
header{
    background-image: url(../images/bg\ Image.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
}
.navbar{
    background-color: #E8E8E8;
    display: flex;
    align-items: center;
    height: 80px;
    gap: 25em;
    text-align: center;
    padding: 0 50px;
    
    filter: opacity(0.6)
}
nav{
    display: flex;
    gap: 30px;
}
nav a{
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 18px;
    text-transform: capitalize;
}
.link-icon, .icons, .link-text {
    display: flex;
    gap: 90px;
    
} 
.hero-part {
    text-transform: capitalize;
    color: white;
    transform: translateY(30vh);
}
.hero-part h2{
    font-size: 3em;
    max-width: 15em;
    font-weight: 500;
    margin-bottom: 0.3em;
}
.hero-part p{
    max-width: 34em;
    margin-bottom: 1em;

}
.hero-part a{
    text-decoration: none;
    color: white;
    background-color: #4170E8;
    padding: 5px 40px;
}
.features{
    margin-bottom: -3em;
}
.features h2{
    margin:1.2em 0em;
    text-transform: capitalize;
    font-size: 38px;
}
.collections{
    background-color: white;
    display: flex;
    gap: 24px;
}
.collections IMG{
    width: 98vh;
}
.women p, .men p{
    transform:translateY(-5em);
    font-size: 34px;
    color: white;
    margin-left: 3rem;
} 
.men a, .women a{
    text-decoration: none;
    font-size: 24px;
    background-color: #4170E8;
    padding: 10px 40px;
    color: white;
}
.trending{
    background-color:white;
}
.trending h2{
    text-transform: capitalize;
    font-size: 34px;
    font-weight: 500;
    margin: 1cap 0;
}
.trend-collections{
    display: flex;
    gap: 24px;
    overflow-x: scroll;
}
.item3 img{
    height: 57vh;
    width: auto;
}
.img0{
    transform: translateY(3vh);
    margin-left: 40vh;
    text-align: center;
    border: #E8E8E8 solid 1px;
    max-width: 3rem;
    background-color: #4170E8;
}

.luxury{
    background-color: aqua;
}
.luxwoman{
    transform: translateY(-13vh);
}
.luxury img{
    width: 100%;
    height: auto;
}
.luxman p, .luxwoman p{
    text-align: center;
    transform: translateY(-22vh);
    color: white;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 20px;
}
.luxury a{
    text-decoration: none;
    color: white;
    padding: 3px 40px;
    background-color: #4170E8;
}
.box {
    background-image: url(../images/Backgrund\ Image.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-top: -26.009vh;
}
form{
    margin-left: 3%;
    padding: 3% 2%;
    background-color: white;
    max-width: 45%;
    transform: translateY(10vh);
    display: flex;
    flex-direction: column;
    gap: 2vh;

}
form h3{
    font-size: 300%;
    font-weight: 400;
}
form p{
    font-weight: 100;
    font-size: 230%;
    opacity: 0.6;
}
form input{
    font-size:100%px;
    padding: 10px;
    background-color: #f8f8f8;
    border: none;
}
form button{
    padding: 10px;
    background-color: #4170E8;
    border: none;
    font-size: 100%;
    cursor: pointer;
}
footer{
    background-color: black;
    height: 50vh;
}
.lo{
    font-size: 28px;
    text-transform: capitalize;
    letter-spacing: 4px;
}
.fash{
    margin-bottom: 10%;
}
.cover{
    display: flex;
    gap: 55%;
    color: white;
}
.first-part{
    display: flex;
    flex-direction: column;
    gap: 3vh;
    justify-content: center;
    /* text-align: center; */
}
.gray{
    display: flex;
    gap: 5px;
}
.help{
    display: flex;
    gap:40vh;
}
.hel, .company{
    display: flex;
    flex-direction: column;
    gap: 3vh;
}
footer a{
    color: white;
    text-transform: capitalize;
    text-decoration: none;
    opacity: 0.5;
}
.socials{
    display: flex;
    float: right;
    gap: 10vh;
    margin-right: 60px;
    margin-top: 3vh;
}
.licence{
    display: flex;
    gap: 57%;
    margin-top: 10vh;
}
.licence span{
    color: white;
}
.lastline{
    display: flex;
    gap: 10vh;
}

@media only screen and (max-width:550px) {
    header{
        width: 100%;
        height: 75vh;
    }
    .nva-first, .navbar,.link-icon, .link-text, .icons{
        gap: 2vh;
    }
    .women img, .men img{
        width: 100%;
    }
    .women p, .men p{
        transform: translateY(-3em);
        font-size: 24px;
    }
    .women a, .men a{
        padding: 3px 10px;
        font-size: 16px;
    }
    .item3 img{
        width: 100%;
    }
    .luxman img, .luxwoman img{
        width: 100%;
    }
    .luxwoman {
        transform: translateY(-15vh);
    }
    .luxman p, .luxwoman p{
        transform: translateY(-15vh);
    }
    .box{
        margin-top: -30vh;
        height: 60vh;
    }
    
    form h3{
        font-size: 200%;
    }
    form p{
        font-size: 130%;
    }
    
    footer{
        padding-top: 30px;
    }
    .cover, .help, .licence{
        gap: 27vh;
    }   
}
@media only screen and (max-width:768px) {
    .nva-first, .link-text{
        display: none;
    }
    .navbar{
        gap: 60vh;
        padding: 0 17px;

    }
    .collections{
        display: flex;
        flex-direction: column;
        gap: 0px;
    }
    .collections IMG{
    width: 88vh;
    }
    .img0{
        margin-left: 44vh;
    }
    .luxwoman{
    transform: translateY(-15vh);
    }
    .box{
        height: 60vh;
        margin-top: -30vh;
    }
    form h3{
        font-size: 200%;
    }
    form p{
        font-size: 120%;
    }

    .cover, .help, .licence{
        gap: 20%;
    }
    footer{
        padding: 25px 0;
    }
    
}

@media only screen and (max-width:480px) {
    header{
        height: 70vh;
        width: 100%;
    }
    .navbar{
        padding: 0 11px;
        gap: 60%;
    }
    .icons{
        gap: 30px;
    }
    .hero-part{
        transform: translateY(15vh);
    }
    .hero-part h2{
        font-size: 2em;
    }
    .hero-part p{
    font-size: 1em;
    line-height: 1.7em;
    margin-bottom: 18px;
    }
    .hero-part a{
    text-align: center;
    justify-items: center;
    padding: 9px 110px;
    }
    .features h2{
        font-size: 1.7em;
        font-weight: lighter;
    }
    .collections img{
        width: 46vh;
    }
    .women p, .men p{
    transform:translateY(-3em);
    font-size: 20px;
    margin-left: 0.8rem;
    }
    .men a, .women a{
    font-size: 16px;
    padding: 2px 10px;
    }
    .trending h2{
        margin: 1px 0;
    }
    .trending{
        margin-bottom: 5px;
    }
    .trend-collections{
    gap: 16px;
    }

    .trend-collections img{
        height: 48vh;
    }
       .img0 h3,.img1 h3,.img2 h3,.img3 h3{
           Font-size:16px;
       } 
    .img0{
    margin-left: 28vh;
    }
    .luxman p, .luxwoman p{
    transform: translateY(-8vh);
    font-size: 16px;    
    font-weight: 200;
    margin-bottom: 1vmin;
    }
    .luxury a{
    padding: 3px 2vw;
    }
    .luxwoman{
    transform: translateY(-7vh);
    }
    .box {
    background-size: center;
    height:45vh;
    Margin-top:-14vh;
    }
    form{
        padding: 8% 4%;
        max-width: 90%;
        transform: translateY(10vh);
        gap: 2vh;

    }
    form h3{
        font-size: 100%;
        font-weight: 400;
    }
    form p{
        font-size: 100%;
    }
    form input, form button{
        font: size 90%;
    }
    footer{
        height: auto;
    }
    Footer a{
        font-size:10px;
    } 
    .cover, .licence, .help, .licence span{
        display: flex;
        flex-direction: column;
    }
    .socials{
        gap: 3vh;
        float: left;
        margin-left: 10px;
    }
    .hel, .company{
        margin-top: 4vh;
    }
    .licence{
        flex-direction: column-reverse;
        gap: 3vh;
    }
    .licence span{
        gap: 3vh;
    }
} 

@media only screen and (max-width:320px) {
    header{
        height: 70vh;
    }
    .navbar{
        padding: 0 8px;
        gap: 5em;
    }
    .icons{
        gap: 30px;
    }
    .hero-part{
        transform: translateY(25vh);
    }
    .hero-part h2{
        font-size: 2em;
    }
    .hero-part p{
    font-size: 0.7em;
    line-height: 1.7em;
    }
    .hero-part a{
    text-align: center;
    justify-items: center;
    padding: 9px 110px;
    }
    .features h2{
        font-size: 1.7em;
        font-weight: lighter;
    }
    .collections img{
        width: 37vh;
    }
    .women p, .men p{
    transform:translateY(-3em);
    font-size: 20px;
    margin-left: 0.8rem;
    }
    .men a, .women a{
    font-size: 16px;
    padding: 2px 10px;
    }
    .trending h2{
        margin: 1px 0;
    }
    .trending{
        margin-bottom: 5px;
    }
    .trend-collections{
    gap: 16px;
    }

    .trend-collections img{
        height: 45vh;
    }
    .img0{
    margin-left: 30vh;
    }
    .luxman p, .luxwoman p{
    transform: translateY(-7vh);
    font-size: 16px;    
    font-weight: 200;
    margin-bottom: 1vmin;
    }
    .luxury a{
    padding: 3px 2vw;
    }
    .luxwoman{
    transform: translateY(-6vh);
    }
    .box {
    background-size: center;
    height: 50vh;
    }
    form{
        padding: 8% 4%;
        max-width: 90%;
        transform: translateY(20vh);
        gap: 2vh;

    }
    form h3{
        font-size: 100%;
        font-weight: 400;
    }
    form p{
        font-size: 100%;
    }
    form input, form button{
        font: size 90%;
    }
    footer{
        height: auto;
    }
    .cover, .licence, .help, .licence span{
        display: flex;
        flex-direction: column;
    }
    .socials{
        gap: 3vh;
        float: left;
        margin-left: 10px;
    }
    .hel, .company{
        margin-top: 4vh;
    }
    .licence{
        flex-direction: column-reverse;
        gap: 3vh;
    }
    .licence span{
        gap: 3vh;
    }
} 











